<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")  %>
</head>
<body>
    <header>
        <%- include ("./partials/header-nav.ejs") %>
    </header>
    <section class="w-100 p-0 m-0">
      <div class="row ">
        <%- include ("./partials/account-header.ejs") %>
          <div class="p-0 col-xl-9">
            <section class=" p-15 text-ceter">
              <div class=" mt-4 d-flex justify-content-center just">
                <h3 class="mr-10">Mis datos</h3>
                <div class="dropdown mr-10">
                  <a
                    class=" d-flex align-items-center"
                    href="#"
                  >
                    <img
                      src="https://mdbcdn.b-cdn.net/img/new/avatars/2.webp"
                      class="rounded-circle"
                      height="60"
                      alt="Black and White Portrait of a Man"
                      loading="lazy"
                    />
                  </a>
                </div>
                <hr>
              </div> <hr>
              
  
            <div class="row g-2 d-flex just ">
              <div class="mb-3 col d-flex">
                  <label for="staticEmail" class="col-xl-2 col-form-label w-100"><b>Nombre completo:</b> <%= locals.userLogged.fullName%>  </label>
              </div>
            </div>
          <div class="row g-2 d-flex just">
            <div class="mb-3 col d-flex">
                <label for="staticEmail" class="col-xl-2 col-form-label w-100"><b>Email:</b> <%= locals.userLogged.email%></label>
            </div>
            <div class="mb-3 col d-flex">
              <label for="staticEmail" class="col-xl-2 col-form-label w-100"><b>Telefono:</b> <%= locals.userLogged.phoneNumber%></label>
          </div>
        </div>
        
        <div class="row g-2 d-flex just">
          <div class="mb-3 col-md d-flex">
              <label for="staticEmail" class="col-xl-3 col-form-label"><b>Localidad:</b> <%= locals.userLogged.address.localidad %></label>
          </div>
          <div class="mb-3 col-md d-flex">
            <label for="staticEmail" class="col-xl-2 col-form-label w-100"><b>Barrio:</b> <%= locals.userLogged.address.barrio%></label>
        </div>
      </div>
      
      <div class="row g-2 d-flex just">
        <div class="mb-3 col-md d-flex">
            <label for="staticEmail" class="col-xl-3 col-form-label"><b>Direccion:</b> <%= locals.userLogged.address.direccion%></label>
        </div>
        
    </div>
    
    <div class="row g-2 d-flex just">
      <div class="mb-3 col-md d-flex">
          <label for="staticEmail" class="col-xl-3 col-form-label"><b>Piso:</b> <%= locals.userLogged.address.piso%></label>
      </div>
      <div class="mb-3 col-md d-flex">
        <label for="staticEmail" class="col-xl-2 col-form-label"><b>Dpto.:</b> <%= locals.userLogged.address.departamento%></label>
    </div>
  </div>
   
      <hr>
      <div class="text-center p-15 ">
        <button type="button" class="btn btn-danger mt-4 mb-4">Modificar</button>
      </div>   
      </section>
      </div>
      </div>
      </section>
      <footer class="bg-dark text-center text-white">
        <%- include ("./partials/footer.ejs")  %>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
          </body>
        </html>
