<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs")  %>
</head>
<body>
  <header>
    <%- include ("./partials/header-nav.ejs") %>
</header>
    <section class="w-100 p-0 m-0">
      <div class="row ">
        <%- include ("./partials/account-header.ejs") %>
          <div class="p-0 col-xl-9">
            <section class=" p-15 text-ceter bg-gre">
              <div class="mt-4 d-flex justify-content-center just">
                <h3>Modificar Mis datos</h3>
                <hr>
              </div> 
              <form class="p-15 form-outline" method="POST" action="/modify-account/<%= locals.userLogged.id %>" enctype="multipart/form-data" >
                <div class="row mb-4 ">
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Nombre completo:</b></label>
                      <input 
                        type="text" 
                        name="fullName" 
                        class="form-control"
                        value="<%= locals.userLogged.fullName %>"
                      >
                      <% if (locals.errors && errors.fullname) { %>
                        <div class="text-danger">
                         <p> <%= errors.fullname.msg %> </p>
                        </div>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Email:</b></label>
                      <input 
                        type="text" 
                        name="email" 
                        class="form-control"
                        value="<%= locals.userLogged.email %>"
                      >
                      <% if (locals.errors && errors.email) { %>
                        <div class="text-danger">
                         <p></p> <%= errors.email.msg %> </p>
                        </div>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Telefono</b></label>
                      <input 
                        type="text" 
                        name="phoneNumber" 
                        class="form-control"
                        value="<%= locals.userLogged.phoneNumber %>"
                      >
                      <% if (locals.errors && errors.phone) { %>
                        <div class="text-danger">
                         <p> <%= errors.phone.msg %> </p>
                        </div>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Localidad:</b></label>
                      <select class="form-select" aria-label="Default select example" name="localidad">
                        <option selected><%= locals.userLogged.address[0].localidad %></option>
                        <option value="Capital Federal">Capital Federal</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Barrio:</b></label>
                      <select class="form-select" aria-label="Default select example" name="barrio">
                        <option selected> <%= locals.userLogged.address[0].barrio %> </option>
                        <option value="Boedo">Boedo</option>
                        <option value="Caballido">Caballido</option>
                        <option value="Almagro">Almagro</option>
                        <option value="Palermo">Palermo</option>
                        <option value="Puerto Madero">Puerto Madero</option>
                        <option value="Retiro">Retiro</option>
                        <option value="Pompeya">Pompeya</option>
                        <option value="Parque Chacabuco">Parque Chacabuco</option>
                        <option value="Parque Patricios">Parque Patricios</option>
                        <option value="Flores">Flores</option>
                        <option value="Floresta">Floresta</option>
                        <option value="Mataderos">Mataderos</option>
                        <option value="Nuñez">Nuñez</option>
                        <option value="Agronomía">Agronomía</option>
                        <option value="Barracas">Barracas</option>
                        <option value="Belgrano">Belgrano</option>
                        <option value="Barracas">Barracas</option>
                        <option value="Chacarita">Chacarita</option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Direccion:</b></label>
                      <input 
                        type="text" 
                        name="direccion" 
                        class="form-control"
                        value="<%= locals.userLogged.address[0].direccion %>"
                      >
                      <% if (locals.errors && errors.direccion) { %>
                        <div class="text-danger">
                         <p> <%= errors.direccion.msg %> </p>
                        </div>
                      <% } %>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Piso:</b></label>
                      <input 
                      type="text" 
                      name="piso" 
                      class="form-control"
                      value= "<%= locals.userLogged.address[0].piso %> "
                      >
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Departamento:</b></label>
                      <input 
                        type="text" 
                        name="departamento" 
                        class="form-control"
                        value="<%= locals.userLogged.address[0].departamento %> ">
                    </div>
                  </div>
                  <div class="input-group mt-4 mb-4">
                    <input type="file" class="form-control" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="imagen">
                    <button class="btn btn-danger" type="button" id="inputGroupFileAddon04">Agregar</button>
                  </div>         
              </div>
              <div class="tex-center d-flex just ">
                <button type="submit" class="btn btn-danger mb-4 mt-4">Guardar</button>
              </div>
              </form>
        
      </section>
      </div>
      </div>
      </section>
      <footer class="bg-dark text-center text-white">
        <%- include ("./partials/footer.ejs")  %>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
          </body>
        </html>