<!DOCTYPE html>
<html lang="es">
  <head>
    <%- include('./partials/head') %> 

    
    <link rel="stylesheet" href="/css/normalize.css" />
    <link rel="stylesheet" href="/css/utils.css" />

    <link rel="stylesheet" href="/css/theme.css" />
  </head>
  <body>
      <%- include('./partials/header') %>


      <p><%= servicios[0]%></p>
     
      <main>
        <section class="container-card">
          <% for (let i=0; i < servicios.length; i++) { %>
            <article class="card-container">
              <figure class = "img-container">
                <img src=<%=servicios[i].imgServicio%>>
              </figure>
              <div class="text-container">
                <h3> <%=servicios[i].nombre %> </h3>
        
                <% for (let i =0; i<(servicios[i].servicios).length; i++) {%>
                  <p class = "title">
                    <%= (servicios[i].servicios)[i] %>
                  </p>  
                <% } %>

                <p class="description"> <%= servicios[i].descripcion %> </p>
                <div class="icon">
                  <i class="fas fa-shopping-cart"></i>
                  <i class="far fa-comment"></i>
                  <i class="far fa-heart"></i>
                </div>
              </div>
            </article>
          <% } %>
        </section>
      </main>

<!--

  <article class="card-container">
              <figure class="img-container">
                  <img src="images//foto1.jpg">
              </figure>
              <div class="text-container">
                  <h3>Pedro Gonzalez</h3>
                  <p class="title">Electricista</p>
                  <p class="description">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Doloremque, repellendus?
                  </p>
               <div class="icon">
                   <i class="fas fa-shopping-cart"></i>
                   <i class="far fa-comment"></i>
                   <i class="far fa-heart"></i>
               </div>
              </div>
          </article>
          <article class="card-container">
           <figure class="img-container">
               <img src="images//foto2.jpg">
           </figure>
           <div class="text-container">
               <h3>David Canvas</h3>
               <p class="title">Electricista</p>
               <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, possimus!
               </p>
               <div class="icon">
                 <i class="fas fa-shopping-cart"></i>
                 <i class="far fa-comment"></i>
                 <i class="far fa-heart"></i>
             </div>
           </div>
          </article>
       <article class="card-container">
         <figure class="img-container">
             <img src="images//foto3.jpg">
         </figure>
         <div class="text-container">
             <h3>Malena Pitrelli</h3>
             <p class="title">Electricista</p>
             <p class="description">Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptate, possimus!
             </p>
             <div class="icon">
               <i class="fas fa-shopping-cart"></i>
               <i class="far fa-comment"></i>
               <i class="far fa-heart"></i>
           </div>
         </div>
       </article>


        <section class="tarjetas">
          <div class="cabecera">
            <h1>¿Como funciona EASY FIX?</h1>
          <h3>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quas laborum soluta alias culpa fugit facere perferendis ea ipsa labore? Adipisci?</h3>
          </div>
          
          <div class="tarjeta">
            <figure class="imagen">
                <img src="images/registrate.jpg" alt="">
            </figure>
            <div class="titular">
              <h3>Registrate</h3>
            </div>
          </div>
          <div class="tarjeta">
            <figure class="imagen">
                <img src="images/seleccion.jpg" alt="">
            </figure>
            <div class="titular">
              <h3>Elegi un profesional</h3>
            </div>
          </div>
          <div class="tarjeta">
            <figure class="imagen">
                <img src="images/contrata.jpg" alt="">
            </figure>
            <div class="titular">
              <h3>Contratalo</h3>
            </div>
          </div>
        </section>
  
        <section class="comentarios">
          <div class="card-contenedor">
            <figure class="img-contenedor">
                <img src="images/fotocomentario1.jpg" alt="">
            </figure>
            <div class="text-contenedor">
              <h3>Carlos Meza</h3>
                <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
              <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            </div>
          </div>
          <div class="card-contenedor">
            <figure class="img-contenedor">
                <img src="images/fotocomentario2.jpg" alt="">
            </figure>
            <div class="text-contenedor">
              <h3>Gustavo Caceres</h3>
                <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
              <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            </div>
          </div>
          <div class="card-contenedor">
            <figure class="img-contenedor">
                <img src="images/fotocomentario3.jpg" alt="">
            </figure>
            <div class="text-contenedor">
              <h3>Roberto Prato</h3>
                <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
              <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            </div>
          </div>
          <div class="card-contenedor">
            <figure class="img-contenedor">
                <img src="images/fotocomentario4.jpg" alt="">
            </figure>
            <div class="text-contenedor">
              <h3>Carmelo frias</h3>
                <p class="descripcion">"Lorem ipsum dolor sit amet consectetur adipisicing elit. Earum alias ullam voluptate, odit modi quas.</p>
              <div class="estrellas">
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
            </div>
            </div>
          </div>
        </section>

       --> 
        <%- include('./partials/footer') %> 
    </body>
    </html>