<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")  %> 
    
</head>
<body>
    <%- include ("./partials/header-nav.ejs") %>
    <form class="container p-15  text-ceter" action="/user/register-professional" method="POST">
      <div class="d-flex justify-content-center ">
        <h3 class="m-20">Registrate</h3>
      </div>
        <div class="row mb-4 ">
          <div class="col-12 col-xl-6 mt-4">
            <div class="p-15 form-outline" >
              <input type="text" id="form3Example1" class="form-control" name="nombre" placeholder="Nombre" value="<%= locals.oldData && oldData.nombre ? oldData.nombre : null %>"/>
              <% if (locals.errors && errors.nombre) { %>
                <div class="text-danger">
                 <p> <%= errors.nombre.msg %> </p>
                </div>
              <% } %>
            </div>
          </div>
          <div class="col-12 col-xl-6 mt-4">
            <div class="p-15 form-outline" >
              <input type="text" id="form3Example2" class="form-control" name="apellido" placeholder="Apellido" value="<%= locals.oldData && oldData.apellido ? oldData.apellido : null %>"/>
              <% if (locals.errors && errors.apellido) { %>
                <div class="text-danger">
                 <p> <%= errors.apellido.msg %> </p>
                </div>
              <% } %>
            </div>
          </div>
        </div>
      
        <!-- Email input -->
        
        <div class="row mb-4 ">
          <div class="col-12 col-xl-6 mt-4">
            <div class="p-15 form-outline" >
              <input type="email" id="form3Example1" class="form-control" name= "email" placeholder="Email" value="<%= locals.oldData && oldData.email ? oldData.email : null %>"/>
              <% if (locals.errors && errors.email) { %>
                <div class="text-danger">
                 <p> <%= errors.email.msg %> </p>
                </div>
              <% } %>
            </div>
          </div>
          <div class="col-12 col-xl-6 mt-4">
            <div class="p-15 form-outline" >
              <input type="tel" id="form3Example2" class="form-control" name="telefono" placeholder="Telefono" value="<%= locals.oldData && oldData.telefono ? oldData.telefono : null %>"/>
              <% if (locals.errors && errors.telefono) { %>
                <div class="text-danger">
                 <p> <%= errors.telefono.msg %> </p>
                </div>
              <% } %>
            </div>
          </div>
        </div>
        
        
        <!-- Country input -->
        <div class="row mb-4">
          <div class="col-12 col-xl-6 mt-4 ">
            <div class="p-15">
                <div class="col-">
                    <select id="inputState" class="form-select" name="localidad">
                      <option selected>Localidad</option>
                      <option value="Ciudad Autonoma de Buenos Aires">Ciudad Autonoma de Buenos Aires</option>
                      <option value="Lanus">Lanus</option>
                      <option value="Avellaneda">Avellaneda</option>
                      <option value="Moreno">Moreno</option>
                      <option value="Moron">Moron</option>
                      <option value="Merlo">Merlo</option>
                      <option value="San Isidro">San Isidro</option>
                    </select>
                  </div>
                      </div>
                    </div>
                    
                    <div class="col-12 col-xl-6 mt-4 ">
                    <div class="p-15">
                        <select id="inputState" class="form-select" name="barrio">
                            <option selected>Barrio</option>
                            <option value="Boedo">Boedo</option>
                            <option value="Caballito">Caballito</option>
                            <option value="Nu単es">Nu単es</option>
                            <option value="Flores">Flores</option>
                            <option value="Floresta">Floresta</option>
                            <option value="Almagro">Almagro</option>
                            <option value="Palermo">Palermo</option>
                            <option value="Barrio Nombre">Barrio Norte</option>
                         </select>
                      </div>
                    </div>
                            </div>
                          </div>

                          <!-- Password input -->
        <div class="row mb-4 ">
          <div class="col-12 col-xl-6 mt-4">
            <div class="p-15 form-outline" >
              <input type="password" id="form3Example1" class="form-control" name="password" placeholder="Contrase単a" value=""/>
              <% if (locals.errors && errors.password) { %>
                <div class="text-danger">
                 <p> <%= errors.password.msg %> </p>
                </div>
              <% } %>
            </div>
          </div>
        <div class="col-12 col-xl-6 mt-4">
          <div class="p-15 form-outline" >
            <input type="password" id="form3Example2" class="form-control" name="password" placeholder=" Repita Contrase単a" value = ""/>
          </div>
        </div>
        </div>
                          
                          <!-- Checkbox -->
        <div class="form-check d-flex justify-content-center mb-4 mt-4">
            <input class="form-check-input me-2" type="checkbox" value="" id="form2Example33" checked />
            <label class="form-check-label" for="form2Example33">Acepto los Terminos y Condiciones.</label>
        </div>
      
        <!-- Submit button -->
        <div class="tex-center d-flex just ">
          <button type="submit" class="btn btn-danger mb-4 mt-4">Registrate</button>
        </div>
        
       
      
    </form>
    <%- include ("./partials/footer.ejs")  %>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
</body>
</html>