<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ("./partials/head.ejs")  %>
</head>
<body>
  <header>
    <%- include ("./partials/header-nav.ejs") %>
</header>
    <section class="w-100 p-0 m-0">
      <div class="row h100">
        <%- include ("./partials/account-header.ejs") %>
          <div class="p-0 col-md-9 col-xxl-9 col-xl-9">
            <section class=" p-15 text-ceter bg-gre">
              <div class="mt-4 d-flex justify-content-center just">
                <h3>Modificar Mis datos</h3>
                <hr>
              </div> 
              <form class="p-15 form-outline" method="POST" action="<%= locals.userLogged.id %>" enctype="multipart/form-data" >
                <div class="row mb-4 ">
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Nombre completo:</b></label>
                      <input 
                        type="text" 
                        name="fullname" 
                        class="form-control fullname <%= locals.fullname && errors.fullname ? "is-invalid" : null %>"
                        value="<%= locals.userLogged.fullName %>"
                      >
                      <span class="error text-danger">
                        <% if (locals.errors && errors.fullname) { %>
                           <%= errors.fullname.msg %>
                        <% } %>
                      </span>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Email:</b></label>
                      <input 
                        type="text" 
                        name="email" 
                        class="form-control email"
                        readonly="readonly"
                        value="<%= locals.userLogged.email %>"
                      >

                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Telefono</b></label>
                      <input 
                        type="text" 
                        name="phone" 
                        class="form-control phone <%= locals.phone && errors.phone ? "is-invalid" : null %>"
                        value="<%= locals.userLogged.phoneNumber %>"
                      >
                      <span class="error text-danger">
                        <% if (locals.errors && errors.phone) { %>
                          <%= errors.phone.msg %>
                            <% } %>
                      </span>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Provincia:</b></label>
                      <select class="form-select localidad" aria-label="Default select example" name="localidad">
                        <option selected><%= locals.userLogged.address[0].localidad %></option>
                        <% provincias.forEach( provincia => { %>  
                          <option value="<%= provincia.nombre %>"><%= provincia.nombre %></option>
                        <% }) %> 
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Localidad:</b></label>
                      <select class="form-select barrio" aria-label="Default select example" name="barrio">
                        <option selected><%= locals.userLogged.address[0].barrio %></option>
                      </select>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Direccion:</b></label>
                      <input 
                        type="text" 
                        name="direccion" 
                        class="form-control direccion <%= locals.direccion && errors.direccion ? "is-invalid" : null %>"
                        value="<%= locals.userLogged.address[0].direccion %>"
                      >
                      <span class="error text-danger">
                        <% if (locals.errors && errors.direccion) { %>
                          <%= errors.direccion.msg %>
                            <% } %>
                      </span>
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Piso:</b></label>
                      <input 
                      type="text" 
                      name="piso" 
                      class="form-control piso"
                      value= "<%= locals.userLogged.address[0].piso %> "
                      >
                    </div>
                  </div>
                  <div class="col-12 col-xl-6 mt-4">
                    <div class="form-group">
                      <label><b>Departamento:</b></label>
                      <input 
                        type="text" 
                        name="departamento" 
                        class="form-control departamento"
                        value="<%= locals.userLogged.address[0].departamento %> ">
                    </div>
                  </div>

                  <div class="form-group mt-4">
                    <label><b>Cambia tu foto de perfil:</b></label>
                    <div class="input-group  mb-4">
                      <input type="file" class="form-control imagen" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04" aria-label="Upload" name="imagen">
                      <button class="btn btn-danger" type="button" id="inputGroupFileAddon04">Agregar</button>
                      <span class="error text-danger col-12">
                        <% if (locals.errors && errors.imagen) { %>
                          <%= errors.imagen.msg %>
                            <% } %>
                      </span>
                    </div>   
                  </div>
                         
              </div>
              <div class="tex-center d-flex just ">
                <button type="submit" class="btn btn-danger mb-4 mt-4">Guardar</button>
              </div>
              </form>
        
      </section>
      </div>
      </div>
      </section>
      <footer class="bg-dark text-center text-white">
        <%- include ("./partials/footer.ejs")  %>
      </footer>
      <script src="/js/modifyAccountScript.js"></script>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
          </body>
        </html>