<!DOCTYPE html>
<html lang="en">
<head>
    <%- include ("./partials/head.ejs")  %>
</head>
<body>
    <header>
        <%- include ("./partials/header-nav.ejs") %>
    </header>
    <section class="w-100 p-0 m-0 fg">
      <div class="row ">
        <%- include ("./partials/account-header.ejs") %>
            <div class="m-center col-xl-9 col-xxl-9 mb-4 mt-4 ">
              <section class="container ">
                <h3>Notificaciones</h3><hr>
              </section>

          <section class="just d-flex">

            <% for (let i = 0; i < servicios.length; i++) { %>
              <% if(servicios[i].solicitations.length > 0) { %> 
                <% for (let j = 0; j < servicios[i].solicitations.length; j++) { %>
            <div class="card ">
              <div class="card-header text-white bg-danger mb-1">
                Solicitud de servicio
              </div>
              <div class="card-body">
                <p>Solicitante: <%= servicios[i].solicitations[j].user.fullName %>  </p>
                <p>Servicio de: <%= servicios[i].category.name %>  </p>
                <p>Direccion: <%= servicios[i].solicitations[j].user.address[0].direccion %> </p>
                <p>Fecha: <%= servicios[i].solicitations[j].serviceDate %>  </p>
                <p>Hora: <%= servicios[i].solicitations[j].serviceTime %>  </p>
                <p>Estado: <%= servicios[i].solicitations[j].solicitationState %> </p>


                <% if(servicios[i].solicitations[j].solicitationState != "Aceptada" && servicios[i].solicitations[j].solicitationState != "Cancelada" )  { %> 

                  <form action="/user/accept-service/<%=servicios[i].solicitations[j].id%>" method="POST">
                    <input type="submit" class="btn btn-danger mb-2 text-center" value="Aceptar solicitud">
                  </form>
                  <form action="/user/reject-service/<%=servicios[i].solicitations[j].id%>" method="POST">
                    <input type="submit" class="btn btn-danger mb-2 text-center" value="Rechazar solicitud">
                  </form>
  
                  <button type="button" class="btn btn-danger mb-2" data-bs-toggle="modal" data-bs-target="#staticBackdrop-<%=servicios[i].solicitations[j].id  %> ">
                    Sugerir otra fecha
                  </button>
                  
                  <!-- Modal -->
                  <div class="modal fade" id="staticBackdrop-<%=servicios[i].solicitations[j].id%>" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h5 class="modal-title" id="staticBackdropLabel">Selecciona una fecha</h5>
                          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body">
                          <form class="p-15 form-outline" method="POST" action="/user/change-date/<%=servicios[i].solicitations[j].id%>">
                            <div class="p-2">
                              <label> Dia: </label>
                              <input type="date" name="date" >
                            </div>
                            <div class="p-2">
                              <label> Horario: </label>
                              <input type="time" name="time" >
                            </div>
                            <div class="modal-footer">
                              <button type="submit" class="btn btn-danger">Seleccionar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  </div>

                <% } %> 
                <% if(servicios[i].solicitations[j].solicitationState == "Aceptada")  { %>

                  <form action="/user/cancel-service/<%=servicios[i].solicitations[j].id%>" method="POST">
                    <input type="submit" class="btn btn-danger mb-2 text-center" value="Cancelar">
                  </form>

                <% } %> 

              </div>
            </div>
            <% } %>
            <% } %> 
            <% } %> 
            
          </section>
          </div>
      </div>
      </section>
      <footer class="bg-dark text-center text-white">
        <%- include ("./partials/footer.ejs")  %>
      </footer>
      <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
          </body>
        </html>